<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">App Rafer Section</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th> # </th>
                                  <th> Name </th>
                                  <th> Date </th>
                                  <th> Action </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td> 1 </td>
                                      <td> Akash </td>
                                      <td> 2019-06-07 </td>
                                      <td> 
                                      		<button class="btn btn-danger"> <i class="material-icons">clear</i> Delete </button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
